<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Vista del Perfil
    </h1>
</div>

<!-- Company Profile -->
<div class="jove-card">
    <h3 class="title">
        Mi Perfil
    </h3>
    <form>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group upload-photo">
                    <label>
                        Subir nueva foto
                    </label>
                    <input type="file" id="img" name="img" accept="image/*">
                    <p>Tamaño máximo del archivo: 2 MB</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Nombre
                    </label>
                    <input type="text" class="form-control shadow-none" value="Doca">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Correo Electrónico
                    </label>
                    <input type="email" class="form-control shadow-none" value="hello@doca.com">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Celular
                    </label>
                    <input type="text" class="form-control shadow-none" value="+1 (514) 312-5678">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Permitir Búsqueda del Perfil
                    </label>
                    <select class="form-select shadow-none">
                        <option selected>Sí</option>
                        <option value="1">No</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Sobré mí
                    </label>
                    <textarea class="form-control shadow-none" cols="30" rows="8">Soy una persona práctica, me gusta el compromiso y el arduo trabajo. El perfil de trabajadores que busco es siempre ser directos y puntuales.</textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn">
            Guardar
        </button>
    </form>
</div>
<div class="jove-card">
    <h3 class="title">
        Redes Sociales
    </h3>
    <form>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Facebook
                    </label>
                    <input type="text" class="form-control shadow-none" value="https://www.facebook.com/">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Twitter
                    </label>
                    <input type="text" class="form-control shadow-none" value="https://twitter.com/">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Linkedin
                    </label>
                    <input type="text" class="form-control shadow-none" value="https://www.linkedin.com/">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Instagram
                    </label>
                    <input type="text" class="form-control shadow-none" value="https://www.instagram.com/">
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn">
            Guardar
        </button>
    </form>
</div>
<div class="jove-card">
    <h3 class="title">
        Información de Contacto
    </h3>
    <form>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Provincia
                    </label>
                    <select class="form-select shadow-none">
                        <option value="1" selected>Lima</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Distrito
                    </label>
                    <select class="form-select shadow-none">
                        <option value="1" selected>ATE</option>
                        <option value="2">El Agustino</option>
                        <option value="3">La Victoria</option>
                        <option value="4">Los Olivos</option>
                        <option value="5">San Juan de Lurigancho</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Dirección
                    </label>
                    <input type="text" class="form-control shadow-none" value="84 Wexham Road RH19 8EA, USA">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Latitud
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Longitud
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn">
            Guardar
        </button>
    </form>
</div>