<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Administrar Trabajos
    </h1>
</div>

<!-- Manage Jobs -->
<div class="jove-card">
    <div class="row">
        <div class="col-xxl-12">
            <div class="single-job-box">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="d-sm-flex align-items-center">
                        <div class="image">
                            <img src="assets/images/companies/company8.png" alt="company-image">
                        </div>
                        <div class="content">
                            <h3 class="fw-semibold">
                                <a routerLink="/job-details">
                                    Electricista
                                </a>
                            </h3>
                            <span class="location d-block">
                                SJL en Lima
                            </span>
                            <span class="job-type d-block">
                                Pago por Hora
                            </span>
                        </div>
                    </div>
                    <div class="custom-info d-sm-flex align-items-center">
                        <span class="active fw-medium d-block">
                            Abierto
                        </span>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-check-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-close-line"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info d-sm-flex align-items-center justify-content-between">
                    <span class="salary d-block">
                        <span class="fw-semibold">Salario: </span>
                        <span>S/25</span>
                    </span>
                    <span class="created d-block">
                        <span class="fw-semibold">Creado:</span>
                        Oct 21, 2023
                    </span>
                    <span class="deadline d-block">
                        <span class="fw-semibold">Fecha Límite:</span>
                        Oct 30, 2023
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xxl-12">
            <div class="single-job-box">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="d-sm-flex align-items-center">
                        <div class="image">
                            <img src="assets/images/companies/company9.png" alt="company-image">
                        </div>
                        <div class="content">
                            <h3 class="fw-semibold">
                                <a routerLink="/job-details">
                                    Gasfitero
                                </a>
                            </h3>
                            <span class="location d-block">
                                ATE en Lima
                            </span>
                            <span class="job-type d-block">
                                Pago por Trabajo
                            </span>
                        </div>
                    </div>
                    <div class="custom-info d-sm-flex align-items-center">
                        <span class="active fw-medium closed d-block">
                            Cerrado
                        </span>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-check-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-close-line"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info d-sm-flex align-items-center justify-content-between">
                    <span class="salary d-block">
                        <span class="fw-semibold">Salario: </span>
                        <span>S/300</span>
                    </span>
                    <span class="created d-block">
                        <span class="fw-semibold">Creado:</span>
                        Oct 21, 2023
                    </span>
                    <span class="deadline d-block">
                        <span class="fw-semibold">Fecha Límite:</span>
                        Nov 10, 2023
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xxl-12">
            <div class="single-job-box">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="d-sm-flex align-items-center">
                        <div class="image">
                            <img src="assets/images/companies/company10.png" alt="company-image">
                        </div>
                        <div class="content">
                            <h3 class="fw-semibold">
                                <a routerLink="/job-details">
                                    Tapicero
                                </a>
                            </h3>
                            <span class="location d-block">
                                Jicamarca en Lima
                            </span>
                            <span class="job-type d-block">
                                Pago por Hora
                            </span>
                        </div>
                    </div>
                    <div class="custom-info d-sm-flex align-items-center">
                        <span class="active fw-medium d-block">
                            Activo
                        </span>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-check-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-close-line"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info d-sm-flex align-items-center justify-content-between">
                    <span class="salary d-block">
                        <span class="fw-semibold">Salario: </span>
                        <span>S/22</span>
                    </span>
                    <span class="created d-block">
                        <span class="fw-semibold">Creado:</span>
                        Oct 21, 2023
                    </span>
                    <span class="deadline d-block">
                        <span class="fw-semibold">Fecha Límite:</span>
                        Nov 11, 2023
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xxl-12">
            <div class="single-job-box">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="d-sm-flex align-items-center">
                        <div class="image">
                            <img src="assets/images/companies/company11.png" alt="company-image">
                        </div>
                        <div class="content">
                            <h3 class="fw-semibold">
                                <a routerLink="/job-details">
                                    Carpintero
                                </a>
                            </h3>
                            <span class="location d-block">
                                Jicamarca en Lima
                            </span>
                            <span class="job-type d-block">
                                Pago por Trabajo
                            </span>
                        </div>
                    </div>
                    <div class="custom-info d-sm-flex align-items-center">
                        <span class="active fw-medium d-block">
                            Abierto
                        </span>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-check-line"></i>
                                </button>
                            </li>
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-close-line"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info d-sm-flex align-items-center justify-content-between">
                    <span class="salary d-block">
                        <span class="fw-semibold">Salario: </span>
                        <span>S/400</span>
                    </span>
                    <span class="created d-block">
                        <span class="fw-semibold">Creado:</span>
                        Oct 21, 2023
                    </span>
                    <span class="deadline d-block">
                        <span class="fw-semibold">Fecha Límite:</span>
                        Nov 12, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>